@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: local('SpoqaHanSansNeo'),
    url('/fonts/SpoqaHanSansNeo-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: local('SpoqaHanSansNeo'),
    url('/fonts/SpoqaHanSansNeo-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: local('SpoqaHanSansNeo'),
    url('/fonts/SpoqaHanSansNeo-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: local('SpoqaHanSansNeo'),
    url('/fonts/SpoqaHanSansNeo-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: local('SpoqaHanSansNeo'),
    url('/fonts/SpoqaHanSansNeo-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SpoqaHanSansNeo';
  box-sizing: border-box;
}
